.footer {
   padding: 55px 0;
   &__container {
      display: grid;
      gap: 14px;
      grid-template-areas:
         'logo .'
         '_copyright contacts';
   }
   &__logo {
      grid-area: logo;
   }
   &__copyright {
      grid-area: _copyright;
      align-self: end;
   }
   &__contacts {
      grid-area: contacts;
      justify-self: end;
   }
}
